body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
    margin: 0;
    box-sizing: border-box;
}

header {
background-color: white;
padding-left: 15px;
}


h1 {
    display: inline-block;
    vertical-align: middle;
}

header img {
    vertical-align: middle;

}
main{
    margin: 25px auto;
    max-width: 900px;
    background-color: white;
    border-radius: 15px;
}

.button {
    padding: 10px 50px;
    border-bottom: 1px solid lightgray;
}

#bw {
    padding: 8px;
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
    color: white;
    border-radius: 5px;
}

#wb {
    padding: 8px;
    background-color: white;
    border: 1px solid lightslategray;
    color: lightslategray;
    border-radius: 5px;
}

.Checklist {
    padding: 10px 50px;
}

.cerchiettov {
    
    display: inline-block;
    border: solid 1px green;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: center;
    color: green;
}

.cerchiettor {
    
    display: inline-block;
    border: solid 1px red;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    vertical-align: center;
    color: red;
}

.arrotondataAzz {
    border-radius: 10px;
    color: white;
    background-color: deepskyblue;
    padding: 6px 8px;
    font-size: 10px;
}

.arrotondataVio {
    border-radius: 10px;
    color: white;
    background-color: purple;
    padding: 6px 8px;
    font-size: 10px;
}

.arrotondataVerd {
    border-radius: 10px;
    color: white;
    background-color: green;
    padding: 6px 8px;
    font-size: 10px;
}

.arrotondataAran {
    border-radius: 10px;
    color: white;
    background-color: orange;
    padding: 6px 8px;
    font-size: 10px;
}

.arrotondataRosa {
    border-radius: 10px;
    color: white;
    background-color: violet;
    padding: 6px 8px;
    font-size: 10px;
}

.arrotondataVerdC {
    border-radius: 10px;
    color: white;
    background-color: greenyellow;
    padding: 6px 8px;
    font-size: 10px;
}
