body{
    background-color: lightgray;
    margin: 0;
    box-sizing: border-box;
}

header {
background-color: white;
}


h1 {
    display: inline-block;
    vertical-align: middle;
}

header img {
    vertical-align: middle;

}
main{
    margin: auto;
    margin-top: 25px;
    max-width: 900px;
    background-color: white;
}

.button {
    padding: 10px 50px;
    border-bottom: 1px;
    border: solid lightgray;
}

#bw {
    padding: 10px;
    background-color: deepskyblue;
    border: 0px;
    color: white;
    border-radius: 5px;
}

#wb {
    padding: 10px;
    background-color: white;
    border: 1px solid lightslategray;
    color: lightslategray;
    border-radius: 5px;
}

.margin {
    padding: 10px 50px;
    border-bottom: 1px;
    border: solid lightgray;
    border-top: 0px;
}

.cerchiettov {
    
    display: inline-block;
    border: solid 1px green;
    border-radius: 50%;
    box-sizing: 10px;

}